name: Resume CI App

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag my-image-name:${{github.run_number}}
      - name: Build the Latest
        run: docker build . --file Dockerfile --tag my-image-name
